<html>
<head>
<title>Chats</title>
<style>
    html * {
            font-size: 20px;
            line-height: 1.5;
            color: #202013;
            font-family: sans-serif;
            }
</style>
</head>
<body>
<div style="margin-left: 10px; margin-top: 10px;">
    {% if user.is_authenticated %}
        <div style="color: green;">
            You are logged in as: {{ user.username }}
            <form style="display: inline-block" action="/user/api/logout/">
            <div><button type="submit">Logout</button></div>
            </form>
        </div>
    {% else %}
        <div style="color: red;">You are not logged in</div>
    {% endif %}
</div>
<table style="margin-top:10px; margin-left:10px; text-align:left;">
  <tr>
      <th>Chat</th>
      <th>ID</th>
  </tr>
  <tr>
      <td>
          {% for chat in chats %}
              <div>
                  <a href="/message/chat/{{chat.id}}/">{{chat.name}}</a>
              </div>
          {% endfor %}
      </td>
      <td>
          {% for chat in chats %}
          <div style="text-align:center;">{{chat.id}}</div>
          {% endfor %}
      </td>
  </tr>
</table>
<div style="margin-top:30px; margin-left:10px;">
    Create new chat:
    <form action="/message/api/chat/create/" method="POST">
        <input name="name" autocomplete="off">
        <button type="submit">create</button>
    </form>
</div>
</body>
</html>

