<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <style>
    html * {
            font-size: 20px;
            line-height: 1.5;
            color: #2020131;
            font-family: sans-serif;
            }
</style>
</head>
<body>
<div style="margin-bottom: 30px; margin-left: 10px; margin-top: 10px;">
{% if user.is_authenticated %}
    <div style="color: green;">You are logged in as: {{ user.username }}</div>
    <form action="/message/chats/">
    <div><button type="submit">chats</button></div>
    </form>
    <form action="/message/api/logout/">
    <div><button type="submit">logout</button></div>
    </form>
{% else %}
    <div style="color: red;">You are not logged in</div>
    <div style="margin-top:30px; margin-left:10px;">
    <form action="/message/login/" method="POST">
        {% csrf_token %}
        <div>
            <label for="username">username:</label>
            <input type="text" name="username" id="username" autocomplete="off" required>
        </div>
        <div>
            <label for="password">password:</label>
            <input type="password" name="password" id="password" autocomplete="off" required>
        </div>
        <button type="submit">login</button>
        {% if error %}
            <div style="color: red;">Wrong username or password</div>
        {% endif %}
    </form>
    </div>
{% endif %}
</div>
</body>
</html>